body, html {
  height                : 100%;
  margin                : 0px;
}

#background {
    background-image    : url("resources/terrains/tatangel.png");
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : cover;
}

#status {
    background-color    : black;
    border              : 5px solid white;
    color               : white;
    font-size           : 36px;
    height              : 50%;
    width               : 25%;
    left                : 0%;
    top                 : 0%;
    margin              : 1em;
    padding-left        : 1em;
    position            : absolute;
    transform           : translate(0%, 0%);
}

#fighting {
    border              : 5px solid black;
    background-color    : black;
    background-image    : url("resources/terrains/land.png");
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : 100%;
    height              : 50%;
    width               : 33%;
    left                : 50%;
    top                 : 33%;
    position            : absolute;
    transform           : translate(-50%, -50%);
}

#enemy {
    background-image    : url("resources/enemies/slime.gif");
    background-position : center;
    background-repeat   : no-repeat;
    background-size     : auto;
    height              : 200%;
    width               : 200%;
    left                : 50%;
    top                 : 50%;
    position            : absolute;
    transform           : translate(-50%, -50%);
}

#log {
    background-color    : black;
    border              : 5px solid white;
    color               : white;
    font-size           : 20px;
    height              : 33%;
    width               : 95%;
    left                : 0%;
    top                 : 75%;
    margin              : 1em;
    padding-left        : 1em;
    position            : absolute;
    transform           : translate(0%, -50%);
}
